
<div *ngIf="!image">
    <app-loading></app-loading>
</div>

<div *ngIf="image">

<header class="w3-container w3-center w3-light-grey" style="padding:50px 12px">
    <h1 class="w3-margin w3-large">Welcome {{user}} !</h1>
    <p class="w3-xlarge">Code, compile, create and participate</p>
</header>

<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div>
                        <div class="w3-card">
                            <img src={{image}} alt="user" style="width:100%">
                            <div class="w3-container align-items-center">
                            <h3>{{user}}</h3>
                            <p class="w3-opacity">WreSSLer</p>
                            <p><a routerLink="/home" routerLinkActive="active"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-lightbulb-o"></i> Resources </button> </a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 ">
                <div class="card mb-3 ">
                    <div class="card-body ">
                        <div class="row ">
                            <div class="col-md-3 ">
                                <h4 class="mb-0 ">Name</h4>
                            </div>
                            <div class="col-md-9">
                                {{first_name}} {{last_name}}
                            </div>
                        </div>
                        <hr>
                        <div class="row ">
                            <div class="col-md-3 ">
                                <h4 class="mb-0 ">Email</h4>
                            </div>
                            <div class="col-md-9">
                                {{email}}
                            </div>
                        </div>
                        <hr>
                        <div class="row ">
                            <div class="col-md-3 ">
                                <h4 class="mb-0 ">Points</h4>
                            </div>
                            <div class="col-md-9">
                                {{points}}
                            </div>
                        </div>
                        <hr>
                        
                        <div class="row ">
                            <div class="col">
                                <a routerLink="/editor" routerLinkActive="active" ><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Code Editor</button></a>

                            </div>
                            <div class="col">
                                <a routerLink="/create" routerLinkActive="active"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Create a Contest</button></a>

                            </div>
                            <div class="col">
                                <a routerLink="/dashboard" routerLinkActive="active"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Contest Dashboard</button></a>

                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
