body {
    margin-top: 20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
}

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

* .button {
    color: #e15241;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100%!important;
}

.shadow-none {
    box-shadow: none!important;
}

a.button3 {
    display: inline-block;
    padding: 0.3em 1.2em;
    height: 1cm;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #1c9ee9;
    text-align: center;
    transition: all 0.2s;
}

a.button3:hover {
    background-color: #3bb7ff;
}

@media all and (max-width:30em) {
    a.button3 {
        display: block;
        margin: 0.2em auto;
    }
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/back");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
  
.buffer {
width: 20em;
position: absolute;
left: 50%;
top: 16em;
-webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%); }

.layer {
fill: #4b4b4b;
-webkit-transition: all 21s ease-out;
        transition: all 21s ease-out; }

.loading .layer1 {
-webkit-animation: 4s linear infinite;
        animation: 4s linear infinite;
-webkit-animation-name: cycle1;
        animation-name: cycle1; }

.loading .layer2 {
-webkit-animation: 4s linear infinite;
        animation: 4s linear infinite;
-webkit-animation-name: cycle2;
        animation-name: cycle2; }

.loading .layer3 {
-webkit-animation: 4s linear infinite;
        animation: 4s linear infinite;
-webkit-animation-name: cycle3;
        animation-name: cycle3; }

@-webkit-keyframes cycle1 {
0%, 65% {
    fill: #b2b2b2; }
75%, 82% {
    fill: #4b4b4b; }
92%, 100% {
    fill: #b2b2b2; } }

@keyframes cycle1 {
0%, 65% {
    fill: #b2b2b2; }
75%, 82% {
    fill: #4b4b4b; }
92%, 100% {
    fill: #b2b2b2; } }

@-webkit-keyframes cycle2 {
0%, 40% {
    fill: #b2b2b2; }
50%, 86% {
    fill: #4b4b4b; }
96%, 100% {
    fill: #b2b2b2; } }

@keyframes cycle2 {
0%, 40% {
    fill: #b2b2b2; }
50%, 86% {
    fill: #4b4b4b; }
96%, 100% {
    fill: #b2b2b2; } }

@-webkit-keyframes cycle3 {
0%, 15% {
    fill: #b2b2b2; }
25%, 90% {
    fill: #4b4b4b; }
100% {
    fill: #b2b2b2; } }

@keyframes cycle3 {
0%, 15% {
    fill: #b2b2b2; }
25%, 90% {
    fill: #4b4b4b; }
100% {
    fill: #b2b2b2; } }

//some parts of the styling of lot of components has been taken from w3-schools templates