<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <button mat-raised-button (click)=openDialog()>New File</button>
      <!-- <mat-selection-list [multiple]='false'>
          <button mat-raised-button (click)=openDialog()>New File</button>
          <mat-selection-list [multiple]='false'>
              <mat-list-option *ngFor="let file of files" (click)="setFile(file)">
                <span> {{file.filename}}</span>
                <button mat-icon-button (click)="delete(file.filename)">
                  <mat-icon>edit</mat-icon>
                </button>
              </mat-list-option>
          </mat-selection-list>
      </mat-selection-list> -->

      <ul style="list-style-type:none;">
        <mat-list-item *ngFor="let file of files">
            <button mat-icon-button (click)="setFile(file)">{{file.filename}}</button>
           <button mat-icon-button (click)="delete(file)">
              <mat-icon>delete</mat-icon>
           </button>
        </mat-list-item>
    </ul>
    </mat-drawer>

<div class="container h-100 mt-4">
    <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    <div class="row mt-4 justify-content-center">
        <div class="col-auto">
            <mat-form-field appearance="fill">
                <mat-label>Select Theme</mat-label>
                <mat-select [(ngModel)]="THEME" (ngModelChange)="updateTheme()">
                <mat-option value="github">Github Theme</mat-option>
                <mat-option value="ambiance">Ambiance Theme</mat-option>
                <mat-option value="chaos">Chaos Theme</mat-option>
                <mat-option value="chrome">Chrome Theme</mat-option>
                <mat-option value="cobalt">Cobalt Theme</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-auto">
            <mat-form-field appearance="fill">
                <mat-label>Select Language</mat-label>
                <mat-select [(ngModel)]="LANG" (ngModelChange)="updateLang()">
                <mat-option value="c_cpp">C++</mat-option>
                <mat-option value="python">Python</mat-option>
                <mat-option value="r">R</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="code-editor" #codeEditor style="width : 100%; min-height : 500px;"></div>
    
    <div class="cbutton">
        <button type="button" class="btn btn-dark btn-sm btn-block" (click)="runCode()">
            Run
        </button>
        <button type="button" class="btn btn-dark btn-sm btn-block" (click)="beautifyContents()">
            Align
        </button>
        <button type="button" class="btn btn-dark btn-sm btn-block" (click)="saveFile()">
            Save
        </button>
    </div>
    
    <div class="row mt-4">
        <div class="col">
            <div class="label-box border"><span class="mx-4 font-weight-light">Input</span></div>
            <textarea [(ngModel)]="input" class="form-control output" rows="6" aria-label="output-textarea"></textarea>
        </div>
        <div class="col">
            <div class="label-box border"><span class="mx-4 font-weight-light">Output</span></div>
            <textarea [(ngModel)]="output" class="form-control output" rows="6" disabled="true" aria-label="output-textarea"></textarea>
        </div>
    </div>

    <div class="cbutton" style="margin-top:20px; margin-bottom:20px;">
        <div class="row" style="margin-bottom:20px">Run a Script</div>
        <form [formGroup]="form">

            <div class="form-group">
                <input type="file" (change)="uploadSource($event)">
            </div>
    
            <div class="form-group">
                <button type="button" class="btn btn-dark btn-sm btn-block" (click)="runFile()">
                    Run File
                </button>
            </div>
        </form>
    </div>

</div>
</mat-drawer-container>