<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>
    </ul>
    <ul class="navbar-nav">
        <a class="nav-link" *ngIf="!_loginserv.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-link"  *ngIf="!_loginserv.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
        <a class="nav-link" style="cursor:pointer" *ngIf="_loginserv.loggedIn()" (click)="_loginserv.logoutUser()">Logout</a>        
    </ul>
  </div>
</nav>    
<!-- <p class="bottom-three"></p> -->
<div class="container">
  <router-outlet></router-outlet>            
</div>

<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-medium">
    Made with <i class="fa fa-heart"></i> by Team WreSSLemaniacs.      
</footer>