<div *ngIf="load">
    <app-loading></app-loading>
</div>

<div *ngIf="!load">

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="w3-card-4 w3-margin w3-white w3-padding">
                    <h1>Running Competitions</h1>

                    <div *ngIf="rcomps.length==0">
                        No Competitions Running! Visit again later!
                    </div>

                    <div style="padding: 10px 0px;" *ngFor="let comp of rcomps">
                        <div class="card">
                            <div class="card-header">
                                {{comp.title}}
                                <app-timer [type]="running" [endsAt]="comp.endtime"></app-timer>
                            </div>
                            <div class="card-body">
                                <p class="card-text" style="min-height: 50px;">{{comp.problem.substr(0,100)}}</p>
                                <a routerLink="/competition/{{comp.id}}"
                                    class="d-flex justify-content-center btn btn-dark">Participate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="w3-card-4 w3-margin w3-white w3-padding">
                    <h1>Past Competitions</h1>

                    <div style="padding: 10px 0px;" *ngFor="let comp of pcomps">
                        <div class="card">
                            <div class="card-header">
                                {{comp.title}}
                            </div>
                            <div class="card-body">
                                <p class="card-text" style="min-height: 50px;">{{comp.problem.substr(0,100)}}</p>
                                <a routerLink="/pastcompetition/{{comp.id}}"
                                    class="d-flex justify-content-center btn btn-dark">See Your Performance</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="w3-card-4 w3-margin w3-white w3-padding">
                    <h1>Upcoming Competitions</h1>

                    <div *ngIf="ucomps.length==0">
                        No Upcoming Competitions! Create your own!
                    </div>

                    <div style="padding: 10px 0px;" *ngFor="let comp of ucomps">
                        <div class="card">
                            <div class="card-header">
                                {{comp.title}}
                                <app-timer [type]="upcoming" [endsAt]="comp.starttime"></app-timer>
                            </div>
                            <div class="card-body">
                                <p class="card-text" style="min-height: 50px;">{{comp.problem.substr(0,100)}}</p>
                                <button disabled class="btn btn-dark btn-block">Participate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
